##############################
## PROJECT
##############################
*.log
Android*/
iOS*/
src/test/resources/testng.xml
##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Java
##############################
.mtj.tmp/
target/
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
